.header__container{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;

    .left-part{
        display: flex;
        align-items: center;
        gap: 56px;

        ul{
            display: flex;
            list-style: none;
            gap: 40px;
            font-family: ;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.nav-item a{
    text-decoration: none;
}



