@import './fonts';
@import './normalize';
@import './header';
@import './hero';
@import './logos';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Poppins';
    align-items: center;
    text-align: center;
    background-image: url(../img/background-image.png);
}

.header__container{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;

    .left-part{
        display: flex;
        align-items: center;
        gap: 56px;

        ul{
            display: flex;
            list-style: none;
            gap: 40px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.nav-item a{
    text-decoration: none;
}
